body{
    margin: 0;
    background-size: 100%;
    
    background-repeat: no-repeat;
}

/*_________________________________________________________________________________________________________________*/

.navigasi{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100px;
    overflow: hidden;
    
}
 .judul{
    max-width: 390px;
    float: left;
    margin: 30px;
 }

.navigasi h1{
    margin: 0;
}

.navigasi li{
    max-width: 400px;
    float: right;
    margin: 30px 60px;
    display: block;
    font-size: larger;
    padding: 10px;
    color: black;
}

.navigasi li a{
    color: black;
    text-decoration: none;
}

.navigasi li a:hover{
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    transition-duration: 0.5s;
    color: aliceblue;
}


/*_________________________________________________________________________________________________________________*/

.bagian01{
    background-image: url(https://act-webstatic.hoyoverse.com/puzzle/hk4e/pz_HdmXQ1MHiy/resource/puzzle/2024/04/17/bde85ac2eaeb972ee247e73ccf14293f_3998078086669712609.png?x-oss-process=image/format,webp/quality,Q_90);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 0;
    width: 100%;
    height: auto;
    display: flow-root;
    background-position: center;
}

.box1{
    width: 95%;
    height: 800px;
    background-color: aliceblue;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 20px;
    backdrop-filter: blur(1px);
}

.bagian02{
    width: 80%;
    height: 1000px;
    background-color: aliceblue;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 20px;
}
